@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Hanken+Grotesk:wght@500;700;800&family=Manrope:wght@500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito:wght@600;700;800&family=Poppins:wght@900&family=Wix+Madefor+Text:wght@400;500;800&display=swap");
/*
=========
Variables
=========
*/
$font_family: "Montserrat", sans-serif;
$font_family_secondary: "Poppins", sans-serif;
$neutral: #fff;
$black: #000;
$font_color: #5064ae;
$bg_light: #7a91ca;
$bg_medium: #5064ae;
$bg_gradient: linear-gradient(108deg, #5064ae 0%, #8798e3 100%);
$bg_gradient_light: linear-gradient(
  122deg,
  rgba(238, 237, 246, 0) 0.51%,
  rgba(60, 97, 181, 0.3) 100%
);
$box-shadow: -2px -2px 24px 0px rgba(0, 0, 0, 0.2);
$transition: all 0.3s linear;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1900px;
$bg_dark: #1f1f1f;
/*
=========
General Selector
=========
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $black;
}
li {
  list-style: none;
}
body {
  font-family: $font_family;
  width: calc(100vw - 20px);
  max-width: $max-width;
  margin: 0 auto;
}
span {
  color: $font_color;
  font-size: 20px;
  font-weight: 600;
  line-height: 20.7px;
  letter-spacing: 0.059px;
}
.btn {
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn_light {
  border: 3px solid $bg_medium;
  background: $neutral;
  height: 80px;
  padding: 0px 66px;
  text-align: center;
  color: $font_color;
  font-size: 23px;
  font-weight: 600;
  line-height: 21.657px;
  letter-spacing: 0.059px;
}
.btn__light {
  color: #7283ce;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 21.657px;
  letter-spacing: 0.059px;
  height: 70px;
  padding: 24px 30px 24px 31px;
  background: #fff;
  box-shadow: -1px 1px 14px 0px rgba(189, 189, 189, 0.25);
}
// .btn_light:hover {
//   background: $bg_gradient;
//   color: $neutral;
//   border: none;
//   transition: $transition;
// }
.btn_gradient {
  width: 309px;
  height: 80px;
  padding: 0px 23px 0px 22px;
  background: $bg_gradient;
  color: $neutral;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  line-height: 21.657px;
  letter-spacing: 0.059px;
}
// .btn_gradient:hover {
//   background: $neutral;
//   color: $font_color;
//   border: 3px solid $bg_medium;
// }
/*
=========
Header Section
=========
*/
#header header {
  width: 100%;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_left {
      .nav-toggle {
        display: none;
      }
    }
    &_right {
      display: flex;
      align-items: center;
      gap: 100px;
      li {
        a {
          color: $black;
          font-size: 17px;
          font-weight: 600;
          line-height: 21.657px;
          letter-spacing: 0.059px;
          &:hover {
            color: $font_color;
          }
        }
      }
    }
  }
}
/*
=========
Hero Section
=========
*/
#hero .hero {
  height: 70vh;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 1148px;
    h1 {
      color: #5064ae;
      text-align: center;
      font-family: $font_family_secondary;
      font-size: 100px;
      font-weight: 900;
      letter-spacing: 0.045px;
    }
    p {
      color: $black;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 28.7px;
      letter-spacing: 0.059px;
    }
    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      margin-top: 41px;
    }
  }
}
/*
=========
Loop Section
=========
*/
#loop .loop {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(
    181deg,
    rgba(94, 83, 182, 0.05) 0.51%,
    rgba(77, 104, 161, 0.04) 73.96%
  );
  &_flow {
    animation: loop 25s linear infinite;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: $black;
    font-size: 14px;
    font-weight: 600;
    line-height: 21.657px;
    letter-spacing: 0.059px;
    padding: 20px 0;
  }
}

/*
  ==========
  Solution Section
  ==========
  */

#solution .solution {
  margin-block-start: 174px;
  &_header {
    text-align: center;
    width: 780px;
    margin: 0 auto;
    h2 {
      font-size: 80px;
      font-weight: 500;
      line-height: 21.657px;
      letter-spacing: 0.059px;
      margin-block-end: 60px;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.059px;
    }
  }
  &_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-block-start: 65px;
    .solution_card {
      width: 456px;
      height: 336px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 1px 1px 34px 10px rgba(187, 187, 187, 0.15);
      padding: 15px;
      &_img {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-block-start: 80px;
        p {
          color: $font_color;
          font-size: 20px;
          font-weight: 600;
          line-height: 21.657px;
          letter-spacing: 0.059px;
        }
      }
      &_content {
        p {
          margin-block-start: 50px;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 0.059px;
        }
      }
    }
  }

  /*
  ==========
  Join Section
  ==========
  */
  #join .join {
    margin-block-start: 135px;
    background: $bg_gradient_light;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    height: 590px;
    &_left {
      align-self: flex-end;
      margin-block-end: -4%;
      z-index: 1;
    }
    &_right {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &_top {
        p {
          font-size: 49px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0.059px;
        }
        button {
          margin-block-start: 35px;
        }
        .music {
          display: flex;
          h2 {
            margin-block-start: 35px;
          }
          h2 {
            font-size: 49px;
            font-weight: 600;
            line-height: 21.657px;
            letter-spacing: 0.059px;
          }
        }
      }
      &_bottom {
        align-self: flex-end;
        p {
          text-align: left;
          font-size: 20px;
          font-weight: 500;
          line-height: 21.657px;
          letter-spacing: 0.059px;
          margin-block-end: 24px;
        }
      }
    }
  }

  /*
  ==========
  Join Section
  ==========
  */
  #manage .manage {
    margin-block-start: 174px;
    &_header {
      text-align: center;
      h2 {
        font-size: 80px;
        font-weight: 500;
        line-height: 21.657px;
        letter-spacing: 0.059px;
      }
      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.059px;
        width: 1000px;
        text-align: center;
        margin: 60px auto;
      }
    }
    &_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .manage_card {
        width: 456px;
        height: 336px;
        border-radius: 10px;
        background: #fff;
        padding: 15px;
        box-shadow: 1px 1px 34px 10px rgba(187, 187, 187, 0.15);
        &_img {
          display: flex;
          align-items: center;
          gap: 14px;
          margin-block-start: 80px;
          p {
            color: $font_color;
            font-size: 20px;
            font-weight: 600;
            line-height: 21.657px;
            letter-spacing: 0.059px;
          }
        }
        &_content {
          p {
            margin-block-start: 50px;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.059px;
            span {
              color: $font_color;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}

/*
===========
useCase Section
===========
*/
#useCase .useCase {
  background: $bg_dark;
  margin-block-start: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70.46px;
  color: $neutral;
  padding: 100px;
  &_left {
    width: 50%;
    text-align: center;
    h2 {
      font-size: 113.443px;
      font-weight: 500;
      line-height: 30.711px;
      letter-spacing: 0.084px;
      margin-block-end: 85.28px;
    }
    .cases {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 85.82px;
      .case {
        display: flex;

        p {
          font-size: 28.361px;
          font-weight: 500;
          line-height: 29.353px;
          letter-spacing: 0.084px;
        }
      }
    }
    &_btns {
      margin-block-start: 94.08px;
      .useCase_light {
        margin-inline-end: 10px;
        color: inherit;
        height: 80px;
        padding: 0px 66px;
        font-size: 23px;
        font-weight: 600;
        line-height: 21.657px;
        letter-spacing: 0.059px;
        background: transparent;
        border-radius: 10px;
        border: 3px solid #fff;
      }
      .useCase_dark {
        border-radius: 10px;
        background: $bg_medium;
        width: 309px;
        height: 80px;
        padding: 0px 23px 0px 22px;
        font-size: 23px;
        font-weight: 600;
        line-height: 21.657px;
        letter-spacing: 0.059px;
        color: inherit;
      }
    }
  }
}

/*
===========
Tita_Card Section
===========
*/
#tita_card .tita_card {
  background: #eaecea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125.96px;
  width: 100%;
  padding: 76px;
  &_left {
    h2 {
      font-size: 73.145px;
      font-weight: 500;
      line-height: 70px;
      letter-spacing: 0.213px;
    }
    p {
      margin-block-start: 31.57px;
      font-size: 31.2px;
      font-weight: 500;
      line-height: 46.9px;
      letter-spacing: 0.059px;
    }
  }
  &_right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*
===========
Value Section
===========
*/
#value .value {
  background: #eaecea;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  &_left {
    width: 50%;
  }
  &_right {
    width: 50%;
    text-align: right;
    h2 {
      font-size: 73.145px;
      font-weight: 500;
      line-height: 66.318px;
      letter-spacing: 0.213px;
    }
    p {
      margin-block-start: 31.57px;
      font-size: 31.196px;
      font-style: normal;
      font-weight: 500;
      line-height: 46.935px;
      letter-spacing: 0.213px;
    }
    &_btns {
      margin-block-start: 32px;
      .btn_blue {
        width: 309px;
        height: 80px;
        padding: 0px 23px 0px 22px;
        border-radius: 10px;
        background: $bg_medium;
        color: $neutral;
        font-size: 23px;
        font-weight: 600;
        line-height: 21.657px;
        letter-spacing: 0.059px;
      }
    }
  }
}

/*
===========
Update Section
===========
*/
#update .update {
  width: 70%;
  margin: 71px auto;
  &_top {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: $font_family_secondary;
      font-size: 55px;
      font-weight: 500;
      line-height: 50px;
      letter-spacing: 0.059px;
    }
    &_input {
      font-family: inherit;
      width: 35%;
      display: flex;
      input {
        position: relative;
        border: none;
        outline: none;
        width: 636px;
        height: 60px;
        border-radius: 80px;
        background: #f2f2f2;
        color: #bdbdbd;
        font-size: 20px;
        font-weight: 500;
        line-height: 20.7px;
        letter-spacing: 0.059px;
        padding: 10px 20px;
      }
      .btn_gradient {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 73px;
        height: 60px;
        font-family: $font_family_secondary;
        font-size: 20px;
        font-weight: 500;
        line-height: 20.7px;
        letter-spacing: 0.059px;
        padding: 18px 64px 17px 65px;
        border-radius: 80px;
        box-shadow: -2px -2px 24px 0px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: 15%;
      }
    }
  }
  &_bottom {
    margin-block-start: 35px;
    display: flex;
    justify-content: space-around;
    &_nav {
      p {
        span {
          font-size: 20px;
          font-weight: 600;
          line-height: 20.7px;
          letter-spacing: 0.059px;
        }
      }
      li {
        padding: 20px 0;
        a {
          font-size: 20px;
          font-weight: 500;
          line-height: 20.7px;
          letter-spacing: 0.059px;
        }
      }
    }
  }
  .social {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

/*
===========
Key Frames
===========
*/
@keyframes loop {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
